<template>
  <div>
      <ul class="stations" v-if="stations && stations.length">
        <li v-for="station in stations" :key="station.url"
          class="station-container">
          <div class="station-element">
            <div class="station-text" @click="onSelect(station)">
              <div class="name">{{station.title}}</div>
            </div>
          </div>
          <button class="delete-button" @click="cast(station)">Cast</button>
        </li>
      </ul>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from "vue-property-decorator";
import { Station } from "../model/Station";
import { stationService } from '../service/StationService';
import { caster } from '../util/Caster';

@Component
export default class StationList extends Vue {

  @Prop() stations: Station[] = <Station[]>[];

  created() {
    const chromecastScript = document.createElement('script')
    chromecastScript.setAttribute('src', 'https://www.gstatic.com/cv/js/sender/v1/cast_sender.js')
    document.head.appendChild(chromecastScript)
    caster.init()
    this.getStations();
  }

  getStations() {
    this.stations = stationService.getStations()
  }
  
  onSelect(station: Station) {
    window.open(station.url,'_blank');
  }

  cast(station: Station) {
    console.log("casting station")
    caster.cast(station)
  }
}
</script>

<style lang="scss" scoped>
.button-group {
  margin: 0.5em;
}
button.delete-button {
  background-color: rgb(216, 59, 1);
  color: white;
  padding: 4px;
  position: relative;
  font-size: 12px;
  max-width: 50px;
}
.selected {
  background-color: rgb(0, 120, 215) !important;
  color: white;
}
.stations {
  float: left;
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 20em;
  li {
    cursor: pointer;
    position: relative;
    background-color: #f7f7f7;
    margin: 0.5em;
    height: 3.2em;
    border-radius: 4px;
    &:hover {
      color: #607d8b;
      color: rgb(0, 120, 215);
      background-color: #ddd;
      left: 1px;
    }
    &.selected:hover {
      color: white;
    }
  }
  .text {
    position: relative;
    top: -3px;
  }
  .saying {
    margin: 5px 2.3px;
  }
  .name {
    font-weight: bold;
  }
  .station-container {
    display: flex;
    flex-flow: row wrap;
  }
  > * {
    flex: 1 100%;
  }
  .station-element {
    display: flex;
    flex-flow: row wrap;
    flex: 18 auto;
    order: 1;
    padding: 0;
    margin: 0;
  }
  .delete-button {
    flex: 1 auto;
    order: 2;
    border-radius: 0 4px 4px 0;
  }
  .station-text {
    flex: 1 auto;
    order: 2;
    padding: 0.2em 0.5em;
  }
  .badge {
    flex: 1 auto;
    order: 1;
    font-size: small;
    color: #ffffff;
    padding: 1.2em 1em 0em 1em;
    background-color: #607d8b;
    background-color: rgb(0, 120, 215);
    background-color: rgb(134, 183, 221);
    margin: 0em 0em 0em 0em;
    border-radius: 4px 0 0 4px;
    max-width: 1.5em;
  }
}
</style>